{% if section.settings.mycheckboxid %}
<div>{{ section.settings.mysectionid }}</div>
{% endif %}
{% if section.settings.myimage %}
	<img src="{{ section.settings.myimage }}">
{% endif %}


{% schema %}
  {
    "name": "My new section",
    "settings": [
			{
				"type" : "text",
				"id":"mysectionid",
				"label":"Enter your text",
				"default":"What is my name?"
			},
			{
				"type" : "checkbox",
				"id":"mycheckboxid",
				"label":"Enable",
				"default":true
			},
			{
				"type":"image_picker",
				"id":"myimage",
				"label":"Add Image"
			}
	
	 	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
