<div class="custom-section">

  {% if section.settings.mycheckboxid %}
  	{{ section.settings.mysectionid }}
  {% endif %}
  
  {% if section.settings.myimage %}
      <img src="{{ section.settings.myimage | img_url: "200x"}}">
  {% endif %}
  
  
</div>

{% schema %}
  {
    "name": "My new section",
    "settings": [
			{
				"type" : "text",
				"id":"mysectionid",
				"label":"Enter your text",
				"default":"What is my name?"
			},
			{
				"type" : "checkbox",
				"id":"mycheckboxid",
				"label":"Enable",
				"default":true
			},
			{
				"type":"image_picker",
				"id":"myimage",
				"label":"Add Image"
			}
	
	 	],
	
		"blocks" : [
		   {
			"type": "gallery",		
			"name": "Gallery",
			"settings":[
				{
					"type":"checkbox",
					"id":"enable_gallery_img",
					"label":"Enable Gallery Image",
					"default":false
				},
				{
					"type":"image_picker",
					"id":"gallery_image",
					"label":"Gallery Image"
				}
			]
		  }
		]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
