<div>{{ section.settings.mysectionid }}</div>
{% schema %}
  {
    "name": "My new section",
    "settings": [
			{
				"type" : "text",
				"id":"mysectionid",
				"label":"Enter your text",
				"default":"What is my name?"
			},
			{
				"type" : "checkbox",
				"id":"mycheckboxid",
				"label":"Enable",
				"default":true
			}
	
	 	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
