<div>My name is Nitin</div>
{% schema %}
  {
    "name": "My new section",
    "settings": [
			{
				"type" : "text",
				"id":"mysectionid",
				"label":"Enter your text",
				"default":"My name is Nitin"
			}
	
	 	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
