<div class="section-faq">
  <div class="faq-wrapper">
      <h2 class="faq-title">{{ section.settings.faq_title }}</h1>
	  <ul>
        {%for block in section.blocks %}
          {% if block.type == 'faq' %}
         	<li>
              <div class="faq-que">
                <h3>{{ block.settings.faq_question}}</h3>
              </div>
              <div class="faq-ans">
                <div class="faq-content">
                	{{ block.settings.faq_answer }}
                </div>
              </div>
        	</li>
          {% endif %}
        {% endfor %} 
      </ul>
    </div>
</div>

{% schema %}
 {
   "name": "FAQ Section",
   "settings": [
     {
       "type": "text",
       "id": "faq_title",
       "label": "FAQ Title"
     }
   ],
   "blocks": [
    {
      "type": "faq",
      "name": "FAQ Block",
      "settings": [
        {
          "type": "text",
          "id": "faq_question",
          "label": "FAQ Question"
        },
        {
          "type": "textarea",
          "id": "faq_answer",
          "label": "FAQ Answer (HTML allowed)"
        }
      ]
    }
   ],
	"presets": [
    {
      "name": "FAQs",
      "category": "Text",
      "blocks": [
        {
          "type": "faq"
        },
        {
          "type": "faq"
        },
        {
          "type": "faq"
        }
      ]
    }
  ]
 }
{% endschema %}