<div style="text-align:center;font-size:24px;">
	{{ page.about-us.title }}	
</div>

{% section 'my-page-section' %}

<div>
	{{ page.about-us.content }}
</div>> 
<div>
Handle = {{ page.about-us.handle }}
</div>>