<div style="text-align:center;font-size:30px;color:green;">
	{{ page.title }}	
</div>
<hr>
<div style="text-align:center;font-size:30px;color:green;">
{% section 'my-page-section' %}
</div>
<div>
	{{ page.content }}
</div
<div>
Handle = {{ page.handle }}
</div>